{% extends 'layout.html' %}
{% load static %}

{% block content %}

<div class="contactUs">
    <form action="{% url 'contactUs' %}" class="contactUsForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="float: right; width: 200px;">Отправить</button>
    </form>
    <br>
    <br>
    <h3 class="devName">Zhyrgal Tagaibekov</h3>
    <a class="email" href="mailto: zt20061113@gmail.com">E-mail: zt20061113@gmail.com</a>
    <br>
    <a href="tel: +996701500422">Тел: +996701500422</a>
    <div class="socialNetwork">
        <ul class="icons">
            <li><a href="https://wa.me/+996701500422"><img src="{% static 'main/img/icons/WhatsApp.png' %}" alt="WhatsAppContact" width="40px"></a></li>
            <li><a href="https://github.com/zt-a/"><img src="{% static 'main/img/icons/github2.png' %}" alt="Github" width="40px"></a></li>
            <li><a href="mailto: zt20061113@gmail.com"><img src="{% static 'main/img/icons/Gmail2.png' %}" alt="Gmail" width="40px"></a></li>
            <li><a href="https://instagram.com/_.zhyrgal._"><img src="{% static 'main/img/icons/Instagram.png' %}" alt="Instagram" width="40px"></a></li>
            <li><a href="https://t.me/zhyrgal_tg"><img src="{% static 'main/img/icons/Telegram.png' %}" alt="Telegram" width="40px"></a></li>
            <li><a href="https://www.facebook.com/zhyrgal.tagaibekov/"><img src="{% static 'main/img/icons/Facebook2.png' %}" alt="Facebook" width="40px"></a></li>
            <li><a href="https://youtube.com/@IT_science"><img src="{% static 'main/img/icons/youtube.png' %}" alt="Youtube" width="40px"></a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}